<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Select fast and local (production) of slow and global (development) version</h3>
      </div>
      <hr/>
      <div>

      <form method="get" enctype="multipart/form-data">
          <button type="submit" formaction="/pyvep">Prod</button>
          <button type="submit" formaction="/pyvep/dev">Dev</button>
      </form>
      </div>
    </div>
  </body>
</html>